/* My style */
body {
    .container {
        color: #3D3D3D;
    }
}

/* import colors from other scss file */
@import '10-colors.scss';

.red {
    color: $red;
}

.green {
    color: $green;
}

.blue {
    color: $blue;
}
